<h2>
  {{title}}
</h2>

<br>
<label for="txtTitle">Enter Title: &nbsp;</label>
<input type="text" id="txtTitle" (input)="updateTitle(titleInput.value)" #titleInput [style.width.px]="width">

<br>
<br>
<div>
  <label for="ddlSort">Sort By:&nbsp;</label>
  <select id="ddlSort" (change)="updateChoice(ddlChoices.options[ddlChoices.selectedIndex].text)" #ddlChoices>
    <option disabled selected>--select an option--</option>
    <option>Name</option>
    <option>Salary</option>
  </select>
</div>
<br>
<br>
<ul *ngIf="people.length>0;else norecordTemplate">
  <li *ngFor="let p of people|sortpeople:selectedChoice">
    {{p.name|uppercase}}
    &nbsp;&nbsp;
    {{p.salary|currency:'USD'}}
  </li>
</ul>
<br>
<ng-template #norecordTemplate>
  <span>No names to display</span>
</ng-template>
<!-- 
  <span *ngIf="people.length===0">No names to display</span> 
-->